* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(229, 229, 229);
}

#search h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

#search {
    margin-top: 20px;
    border: 5px solid rgb(179, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}

#search input {
    padding-left: 7px;
    font-size: large;
    margin: 20px;
    width: 300px;
    height: 40px;
}

#btn {
    padding: 9px;
    width: 90px;
    font-size: large;
}

#main-app {
    width: 90vw;
    margin: auto
}

#app {
    border: 5px solid rgb(179, 177, 177);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px
}

#backgroundChange {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0 0 15px 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20vw;
    background-color: aliceblue;
    height: 50px;
}

input[id="pink"]:checked {
    accent-color: pink;
}

input[id="grey"]:checked {
    accent-color: rgb(161, 161, 161);
}

input[id="blue"]:checked {
    accent-color: rgb(5, 0, 191);
}

input[id="green"]:checked {
    accent-color: rgb(18, 117, 21);
}

input[id="black"]:checked {
    accent-color: rgb(14, 36, 37);
}
input[type=radio] {
    scale: 2
}